asgiref==3.5.1
Babel==2.10.1
backports.zoneinfo==0.2.1
beautifulsoup4==4.10.0
certifi==2021.10.8
cloudinary==1.28.0
dj-database-url==0.5.0
Django==4.0.4
django-braces==1.15.0
django-crispy-forms==1.13.0
django-heroku==0.3.1
django-jazzmin==2.4.9
django-js-asset==2.0.0
django-model-utils==4.2.0
djangorestframework==3.13.0
gunicorn==20.1.0
Pillow==8.4.0
psycopg2==2.9.2
py-moneyed==1.2
python-decouple==3.5
pytz==2021.3
six==1.16.0
soupsieve==2.3.1
sqlparse==0.4.2
swapper==1.3.0
urllib3==1.26.7
whitenoise==5.3.0
